header {
    width: 37.5em;
    margin: 2em auto;
}

.heading{
    font-size: 4em;
    text-align: center;
    color:#0096FF;
}

.logo {
    background: url("https://s.cdpn.io/7635/averyson-logo.gif") no-repeat;
    background-size: 100%;
    float: left;
    width: 100%;
    height: 30em;
    font-family: Baskerville;
    color: #575557;
    position: relative;
}

.laura,
.javery,
.ampersand {
    font-size: 2em;
    text-align: center;
}

.laura {
    position: absolute;
    top: 165px;
    left: 212px;
}

.javery {
    position: absolute;
    top: 220px;
    left: 220px;
}

.ampersand {
    font-style: italic;
    position: absolute;
    top: 194px;
    left: 270px;
}

date {
    border-top: 1px solid #575557;
    border-bottom: 1px solid #575557;
    position: absolute;
    top: 265px;
    left: 243px;
}

footer {
    position: absolute;
    bottom: 30px;
    width: 50%;
}

.wrp{
    position: absolute;
    font-size: 2em;
    bottom: 60px;
    color: #F87431;
    text-align: center;
}